<!DOCTYPE HTML>

<html lang="pl">

<head> 
	<meta charset="utf-8"/>
	<meta name="Description">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href='/icons/search/css/fontello.css' />
	<link rel="shortcut icon" href="../favicon.ico"> 
	<link rel="stylesheet" type="text/css" href="stylesheets/menu.css">
	<link rel='stylesheet' href='/stylesheets/search.css' />

	<title></title>
 </head>

<body>

<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-KZD6WP"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KZD6WP');</script>
<!-- End Google Tag Manager -->

	<nav>
		<!--<ul class="navigation">
			<li> <a href="kalkulator-walut">Kalkulator walut</a> </li>
		</ul>-->

		<div id="dl-menu" class="dl-menuwrapper">
			<!--<button class="dl-trigger">Open Menu</button>-->
			<div class="navbar">
				<div class="menu-btn">
					<div class="top-bar"></div>
					<div class="middle-bar"></div>
					<div class="bottom-bar"></div>
				</div>
				<!--<a href="/" class="amoney-link">aMoney</a>-->
				<h5><a href="kalkulator-walut">Kalkulator walut</a></h5>
			</div>
			<ul class="dl-menu">
				<li class="category">
					<a href="#"><%=categories[0] %></a>
					<ul class="dl-submenu">
						<% for(var i=0; i<=13; i++){ %>
							
							<li><a href="/<%=subCategories[i].replace(/ /g, '-')%>"><%=subCategories[i]%></a> </li>
						<% } %>
					</ul>
				</li>
				<li class="category">
					<a href="#"><%=categories[1] %></a>
					<ul class="dl-submenu">
						<% for(var i=15; i<=20; i++){ %>
							<li><a href="/<%=subCategories[i].replace(/ /g, '-')%>"><%=subCategories[i]%></a> </li>
						<% } %>
					</ul>
				</li>
				<li class="category">
					<a href="#"><%=categories[2] %></a>
					<ul class="dl-submenu">
						<% for(var i=21; i<=24; i++){ %>
							<li><a href="/<%=subCategories[i].replace(/ /g, '-')%>"><%=subCategories[i]%></a> </li>
						<% } %>
					</ul>
				</li>
				<li class="category">
					<a href="#"><%=categories[3]%></a>
					<ul class="dl-submenu">
						<% for(var i=25; i<=28; i++){ %>
							<li><a href="/<%=subCategories[i].replace(/ /g, '-')%>"><%=subCategories[i]%></a> </li>
						<% } %>
					</ul>
				</li>
			</ul>
		</div>
	</nav>
	
	<div class="wrapper">
		<div class="dimness"></div>
		<header>
			<p><%=komunikat%></p>
			<h1>aMoney</h1>
			<form class="search" method="post">
				<input id="searcharea" type="text" name = search class="form-control" placeholder="Wyszukaj produkt..."/>
		 		<button  type="submit" id="search" class="btn btn-default">
					 <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="20px" viewBox="0 0 410.587 410.588" style="enable-background:new 0 0 410.587 410.588;" xml:space="preserve">
						<g>
							<path d="M410.587,371.351l-50.044-50.044l-39.866-39.866c20.505-28.842,32.685-63.996,32.685-102.009   c0-97.424-79.263-176.687-176.684-176.687C79.251,2.745,0,82.008,0,179.432c0,97.423,79.251,176.675,176.678,176.675   c40.698,0,78.116-13.963,108.01-37.167l68.508,68.508c0.841,0.841,1.784,1.509,2.705,2.207l18.194,18.188L410.587,371.351z    M176.689,314.548c-74.503-0.006-135.111-60.622-135.111-135.111c0-74.5,60.614-135.108,135.111-135.108   c74.498,0,135.108,60.608,135.108,135.108c0,30.998-10.59,59.507-28.218,82.333c-5.833,7.537-12.374,14.49-19.642,20.654   C240.374,302.409,209.94,314.548,176.689,314.548z"/>
						</g>
					</svg>
				</button>
			</form>
		</header>
	</div>
	<footer><% include partials/templemate/footer.ejs %></footer>
	<script src="/javascripts/jquery-1.11.3.min.js"></script>
	<script src="javascripts/main.js"></script>
	<script src="/javascripts/red.js"></script>
</body>

</html>