<!DOCTYPE HTML>

<html lang="pl">

<head> 
	<% include partials/templemate/head.ejs %>
	<meta charset="utf-8"/>
	<meta name="Description">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel='stylesheet' href='/stylesheets/search_result.css' />
	<link rel="stylesheet" href='/icons/search/css/fontello.css' />
	<link rel="shortcut icon" href="../favicon.ico"> 
	<link rel="stylesheet" type="text/css" href="stylesheets/default.css" />
	<link rel="stylesheet" type="text/css" href="stylesheets/component.css" />
	<script src="javascripts/modernizr.custom.js"></script>
	<title></title>
 </head>

<body>

<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-KZD6WP"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KZD6WP');</script>
<!-- End Google Tag Manager -->

	<nav>
		<ul class="navigation">
			<li> <a href="kalkulator-walut">Kalkulator walut</a> </li>
		</ul>

		<div id="dl-menu" class="dl-menuwrapper">
			<button class="dl-trigger">Open Menu</button>
			<ul class="dl-menu">
							<li>
								<a href="#"><%=categories[0] %></a>
								<ul class="dl-submenu">
									<% for(var i=0; i<=14; i++){ %>
										<% if(i===3){ subCategories[i] = "Kredyty gotowkowe" } %>
										<% if(i===5){ subCategories[i] = "Konta mlodziezowe" } %>
										<% if(i===8){ subCategories[i] = "Pozyczki spolecznosciowe" } %>
										<% if(i===9){ subCategories[i] = "Doradztwo ds nieruchomosci" } %>
										<% if(i===10){ subCategories[i] = "Ksiegarnia" } %>
										<% if(i===13){ subCategories[i] = "Pozyczki pozabankowe" } %>
										<li><a href="/<%=subCategories[i].replace(/ /g, '-')%>"><%=subCategories[i]%></a> </li>
									<% } %>
								</ul>
							</li>
							<li>
								<a href="#"><%=categories[1] %></a>
								<ul class="dl-submenu">
									<% for(var i=15; i<=20; i++){ %>
										<li><a href="/<%=subCategories[i].replace(/ /g, '-')%>"><%=subCategories[i]%></a> </li>
									<% } %>
								</ul>
							</li>
							<li>
								<a href="#"><%=categories[2] %></a>
								<ul class="dl-submenu">
									<% for(var i=21; i<=24; i++){ %>
										<% if(i===21){ subCategories[i] = "Ubezpieczenia na zycie" } %>
										<% if(i===22){ subCategories[i] = "Ubezpieczenia majatkowe" } %>
										<li><a href="/<%=subCategories[i].replace(/ /g, '-')%>"><%=subCategories[i]%></a> </li>
									<% } %>
								</ul>
							</li>
							<li>
								<a href="#"><%=categories[3]%></a>
								<ul class="dl-submenu">
									<% for(var i=25; i<=28; i++){ %>
										<li><a href="/<%=subCategories[i].replace(/ /g, '-')%>"><%=subCategories[i]%></a> </li>
									<% } %>
								</ul>
							</li>
			</ul>
		</div>
	</nav>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="javascripts/jquery.dlmenu.js"></script>
		<script>
			$(function() {
				$( '#dl-menu' ).dlmenu({
					animationClasses : { classin : 'dl-animate-in-3', classout : 'dl-animate-out-3' }
				});
			});
		</script>
	<div class="wrapper">
	  <article class="search">
		 <ul>
			 	<%for(var i=0;i<products.length;i++) {%> 
			 		<% if(products[i].category===check){ %>
				 		<li><%=products[i].name%> <%=products[i].provider%> <br>
				 			<img src ="<%=products[i].logo%>">
				 			<button onclick='window.location="<%=products[i].application%>"'>Zloż wniosek</button>
				 			<textarea> <%=products[i].description %> </textarea>
				 		</li>
				 		<br><br>
				 	<%}%>
			 	<% } %>
		 </ul>
	  </article>
	  <aside class="aside aside-1"></aside>
	  <aside class="aside aside-2"></aside>
	  <footer class="footer">Footer</footer>
	</div>

	<footer> <% include partials/templemate/footer.ejs %> </footer>

</body>

</html>