<!DOCTYPE HTML>

<html lang="pl">

<head>
    <meta charset="utf-8"/>
    <meta name="Description" content="<%=product.meta.description%>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href='/icons/search/css/fontello.css' />
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" type="text/css" href="/stylesheets/css/menu.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/css/selected_product.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/css/jquery-ui.css" />
    <link rel="icon" type="image/png" href="icons/favicon.png">
    <title><%=product.meta.title%></title>
 </head>

<body>
<div class="dimness"></div>
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-KZD6WP"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KZD6WP');</script>
<!-- End Google Tag Manager -->
    <!--<a class="contact-link" href="/kontakt">Kontakt</a>-->
    <header><% include partials/templemate/header.ejs %></header>
    <div class="wrapper container">
        <article class="search-result row">
            <div class="whole-product col-md-6 col-lg-7">
                <div class="img-wrapper">
                    <img src ="<%=product.logo%>" alt="<%=product.meta.alt%>">
                </div>
                <div class="info">
                    <h4><%=product.name%> <%=product.provider%></h4>
                    <%-product.longDescription%>
                    <a class="button apply-now" href="<%=product.application%>">Zloż wniosek</a>
                </div>
            </div>
            <div class="line"></div>
            <div class="products col-md-6 col-lg-5">
                <% suggestedProducts.forEach(product => { %>
                <% if (product.alive) { %>
                <div class="single-product">
                    <div class="img-and-btns">
						<div class="img-wrapper">
							<img src ="<%=product.logo%>" alt="<%=product.alt%>">
						</div>
                        <div class="buttons-container">
                            <a class="button read-more" href="/finanse/produkt/<%=product.value%>">Dowiedz się więcej</a>
                            <a class="button apply-now" href="<%=product.application%>">Zloż wniosek</a>
                        </div>
                    </div>
                    <div class="info">
                        <div class="inner-scroll">
                            <h4><%=product.name%> <%=product.provider%></h4>
                            <%-product.description%>
                        </div>
                    </div>
                </div>
                <% } %>
                <% }) %>
            </div>
        </article>
        <aside class="aside aside-1"></aside>
        <aside class="aside aside-2"></aside>
    </div>

    <footer> <% include partials/templemate/footer.ejs %> </footer>
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery-ui.js"></script>
    <script src="/javascripts/typeahead.js"> </script>
    <script src="/javascripts/main.js"></script>
    <script src="/javascripts/red.js"></script>
    <script>
      function initMap() {
        var uluru = {lat: 52.235765, lng: 21.0177286};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 13,
          center: uluru,
          disableDefaultUI: true,
          zoomControl: true
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCMfnryrSqfNlO6vbG6RgbyZDobT7K7Ips&callback=initMap">
    </script>
</body>

</html>