<select name ="from" class="form-control" id="sel1">
	<option value="PLN">PLN - polski złoty</option>
	<%nbpTable.forEach(function(entry){ %>
		<%if(selected1 === entry.code){%>
			<option selected value="<%=entry.code%>"><%=entry.code%> - <%=entry.currency%></option>
		<%} else{ %>
			<option value="<%=entry.code%>"><%=entry.code%> - <%=entry.currency%></option>
		<%} %>
	<% }) %>
</select>

<button id="change" type="button" class="form-control"> <i class="icon-exchange"></i> </button>

<select name ="on" class="form-control" id="sel2">
	<option value="PLN">PLN - polski złoty</option>
	<%nbpTable.forEach(function(entry){ %>
		<%if(selected2 === entry.code){%>
			<option selected value="<%=entry.code%>"><%=entry.code%> - <%=entry.currency%></option>
		<%} else{ %>
			<option value="<%=entry.code%>"><%=entry.code%> - <%=entry.currency%></option>
		<%} %>
	<% }) %>
</select>