<article class="result">
	<div class="result-banner">	
		<div class="result-btn">
			<div class="rand-btn">
				<a href="/przelicznik/<%=rand_year%>-<%=rand_month%>-<%=rand_day%>/<%=draw1%>-na-<%=draw2%>-<%=rand_amount%>-<%=draw1%>-ile-to-<%=draw2%>">Losuj walute</a>
			</div>
			<div id="<%=result1%>" class="form-group single-course">
				<h3> <%=wynik%> </h3>
				<div class="form-control" rows="5" id="resultarea">
					<p><%=result_text %></p>
					<ul>
						<li><%=result%></li>
						<li><%=date%></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="banners">
			<div class="banner" data-banner-number="1">
				<a onclick='onPromoClick("Walutomat", "http://uki222.produktyfinansowe.pl/e/lead/1116/?source=lt")''><img src="/images/banners/amoney-banner-walutomat.png"></a>
			</div>
			<div class="banner" data-banner-number="2">
				<a onclick='onPromoClick("Cinkciarz", "https://fx.cinkciarz.pl/baners/baner/314843939428/413107207892")''><img src="/images/banners/amoney-banner-cinkciarz.png"></a>
				<!--<object type="application/x-shockwave-flash" autoplay="true" data="https://fx.cinkciarz.pl/baner/cinkciarz_billboard_750x100.swf?click=https://fx.cinkciarz.pl/baners/baner/314843939428/413107207892">
						<embed play="true" name="movie" autoplay="true" value="https://fx.cinkciarz.pl/baner/cinkciarz_billboard_750x100.swf" />
						<param name="allowscriptaccess" value="always" />
						<param name="autoplay" value="true" />
						<param name="autostart" value="1" />
				</object>-->
			</div>
		</div>
	</div>
	<div id="<%=result2%>" class="courses">
		<h3> Tabela kursów </h3>
		<div class="form-control" id="courseTable">
				<ul>
					<%cash.forEach(function(entry){ %> 
						<li>Kurs <%=entry.kod_waluty[0]%> nbp = <%=entry.kurs_sredni[0]%> z dnia <%=year%>-<%=resultmonth%>-<%=resultday%> %></li>
					<% }) %>
				</ul>
		</div>
	</div>
</article>
<script>
function onPromoClick (name, redirect) {
          dataLayer.push({
            event: 'promotionClick',
            ecommerce: {
                promoClick: {
                    promotions: [{
                        name: name,
                        creative: 'banner',
                        position: 'slot1'
                    }]
                }
            },
            eventCallback: function() {
                window.open(redirect);
            }
        });
    }
</script>
