<article class="result">	

			<div id="<%=result1%>" class="form-group" id="resultarea">

				<h3> <%=wynik%> <svg enable-background="new 0 0 500 500" height="30px" id="Layer_1" version="1.1" viewBox="0 0 500 500" width="50px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path clip-rule="evenodd" d="M100.59,431.711c0,20.078,16.263,36.34,36.342,36.34h227.137  c20.078,0,36.341-16.262,36.341-36.34V68.29c0-20.077-16.263-36.34-36.341-36.34H136.932c-20.079,0-36.342,16.264-36.342,36.34  V431.711z M166.007,77.375h168.988c11.082,0,19.987,8.905,19.987,19.991v59.959c0,11.086-8.905,19.991-19.987,19.991H166.007  c-11.086,0-19.989-8.905-19.989-19.991V97.367C146.018,86.28,154.921,77.375,166.007,77.375z M146.018,236.371  c0-12.537,10.177-22.713,22.713-22.713s22.714,10.177,22.714,22.713c0,12.538-10.178,22.715-22.714,22.715  S146.018,248.909,146.018,236.371z M227.788,236.371c0-12.537,10.177-22.713,22.713-22.713c12.536,0,22.715,10.177,22.715,22.713  c0,12.538-10.179,22.715-22.715,22.715C237.964,259.086,227.788,248.909,227.788,236.371z M309.557,236.371  c0-12.537,10.175-22.713,22.716-22.713c12.535,0,22.71,10.177,22.71,22.713c0,12.538-10.175,22.715-22.71,22.715  C319.731,259.086,309.557,248.909,309.557,236.371z M146.018,318.142c0-12.536,10.177-22.715,22.713-22.715  s22.714,10.179,22.714,22.715c0,12.537-10.178,22.711-22.714,22.711S146.018,330.679,146.018,318.142z M227.788,318.142  c0-12.536,10.177-22.715,22.713-22.715c12.536,0,22.715,10.179,22.715,22.715c0,12.537-10.179,22.711-22.715,22.711  C237.964,340.853,227.788,330.679,227.788,318.142z M309.557,318.142c0-12.536,10.175-22.715,22.716-22.715  c12.535,0,22.71,10.179,22.71,22.715c0,12.537-10.175,22.711-22.71,22.711C319.731,340.853,309.557,330.679,309.557,318.142z   M146.018,399.909c0-12.536,10.177-22.711,22.713-22.711s22.714,10.175,22.714,22.711c0,12.54-10.178,22.715-22.714,22.715  S146.018,412.449,146.018,399.909z M227.788,399.909c0-12.536,10.177-22.711,22.713-22.711c12.536,0,22.715,10.175,22.715,22.711  c0,12.54-10.179,22.715-22.715,22.715C237.964,422.624,227.788,412.449,227.788,399.909z M309.557,399.909  c0-12.536,10.175-22.711,22.716-22.711c12.535,0,22.71,10.175,22.71,22.711c0,12.54-10.175,22.715-22.71,22.715  C319.731,422.624,309.557,412.449,309.557,399.909z" fill="#a0a0a0" fill-rule="evenodd" title="<%=title%>"><title><%=title%></title></path></svg></h3>
				
				<div class="form-control" rows="5" id="resultarea">
					<%=result_text %>
					<br>
					<br>
					<%=result%>
					<br/>
					<%=date%>
					<br/><br/>
					<a href="/przelicznik/<%=rand_year%>-<%=rand_month%>-<%=rand_day%>/<%=draw1%>-na-<%=draw2%>-<%=rand_amount%>-<%=draw1%>-ile-to-<%=draw2%>">Losuj walute</a>
				 </div>
			</div>
			
			<div id="<%=result2%>">
				<h3> Tabela kursów </h3>
				<textarea class="form-control" rows="5" readonly autofocus  id="courseTable">
<%cash.forEach(function(entry){ %> Kurs <%=entry.kod_waluty[0]%> nbp = <%=entry.kurs_sredni[0]%> z dnia <%=year%>-<%=resultmonth%>-<%=resultday%> %>
<% }) %>
				</textarea>
			</div>

			<div id="<%=contact%>">
				<header>
					<h2>Kontakt</h2>
				</header>

				<form action='/contact', name='contacto', id='contacto', method='post'>
					<fieldset>
						<p>
							<label for='name'> Imie:
							<br>
							<input name='name' type='text' value='' id='name' />
						</p>
						<p>
							<label for='email'> Email:
							<br>
							<input name='email' type='text' value='' id='email' />
						</p>
						<p>
							<label for='message'> Wiadomość:
							<br>
							<textarea name='message' cols='40' rows='10' id='message'><%=result%></textarea>
						</p>
					<button name='submit' type='submit' value='Wyslij' id='submit'> Wyslij</button>
					</fieldset>

				</form>
			</div>

</article>
